/* Scaffolding part ------------------------------------------------- */

@import 'variables';

 /* Heart Lamps Section  */
.heartLampImg{
  width: 380px;
  height: 288px;
}

.feature{
  border-bottom: 3px solid $primary-blue;
  padding-bottom: 3px;
  font-weight: 600;
}

.feature:hover{
  text-decoration: none;
  color: $primary-blue;
} 

.heartLampSection{
 padding-top: 22px;
 padding-bottom: 70px;

}



