/* Variables in SASS ------------------------------------------------- */
 
  /* colors */
$black: #1A1A1A;
$white: #FFFFFF;
$primary-blue: #0043BF;
$primary-light: #E3E9F7;
$red: #D0021B;
$gray-background: #303030;